body {
    background-color:#15d6d0;      
  }
  
  
header, nav, main, footer {
  padding:20px;
}

header {
  background: #0c7976;
  color: #fff;
  text-align: center;
  font-size: 28px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

nav {
  background: #10a8a3;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: #fff;
  margin: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  background: #fff;
  margin:auto;
  text-align: center;
}

.links {
  text-decoration: underline;
  color: blue;
  display: flexbox;
  
}

.photos{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.photos img {
  width: 100px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.392);
}

footer {
  background: #0c7976;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}