body {
    background-image: url("../images/tokio.jpg"); 
    background-size: cover; 
    
}


header, #menu-glowne, main, footer {
    padding: 20px;
}



header {
    background: #0c7976;
    color: #fff;
    text-align: center;
    font-size: 28px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#menu-glowne {
    background: #10a8a3;
    text-align: center; 

    border-radius: 0;
}

#menu-glowne ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

#menu-glowne ul li {
    display: inline-block; 
}


#menu-glowne ul li a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-weight: bold; 
}

#menu-glowne ul li a:hover {
    text-decoration: underline;
}



main {
    background-color: rgba(255, 255, 255, 0.463);
    padding: 20px;
    margin: auto;
    text-align: center;
    
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
}

footer {
    background: #0c7976;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

nav {
    background: #10a8a3;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px; 
}

nav a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}



.links {
    text-decoration: underline;
    color: blue;
    display: block;
}

ol {
    display: inline-block;
}


.zrodla ul {
    display: inline-block;
    list-style-position: inside; 
    text-align: left; 
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.photos img {
    width: 100px;
    height: 200px;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.392);
}

.tresc {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tresc img {
    object-fit: cover;
    height: 400px;
    width: 300px;
    border-radius: 20px;
}

.abraj2 img {
    height: 300px;
    width: 300px;
    border-radius: 25%;
}

.pingan img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 2px;
}

.test-block {
    width: 200px;
    border: 2px solid rgba(71, 236, 30, 1);
    background: rgba(71, 236, 30, 0.7);
    text-align: center;
    color: #000;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-wrap: wrap;
}

